<!DOCTYPE html>

    <html lang="en">

        <head>

            <meta charset="UTF-8">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="stylesheet" href="">

            <title>Registrarse || Código de Policía Ya!</title>

        </head>

        <body>

            <header>

                <button class="button--volver"><a href="/views/index.html">&#171;&nbsp;Volver</a></button>

            </header>   

            <main class="main--login">

                <section class="main_section--first">

                    <a href="login.html"><img src="/img/LogoNombre.png" alt="No se ha podido cargar la imágen"></a>

                </section>

                <section class="main__section--second">

                    <form class="section__form--login" action="">

                        <h1>Inicia Sesión:</h1>
    
                        <fieldset class="form__fieldset--userInfo">
    
                            <div>
    
                                <label for="nombreUsuario">Nombre de Usuario:<input type="text" name="nombreUsuario" id="nombreUsuario"></label>
    
                            </div>
                            
                            <div>
    
                                <label for="contraseña">Contraseña:<input type="password" name="contraseña" id="contraseña"></label>
    
                            </div> 
                                            
                        </fieldset>
    
                        <button class="button--login">Iniciar Sesión</button>
    
                        <fieldset class="form__fieldset--privicyPolicy">
    
    
                            <div class="fieldset__div--sessionStatus">
    
                                <input type="checkbox" name="mantenerSesion" id="mantenerSesion">
                                <label for="mantenerSesion">Mantener Sesión Iniciada.</label>
    
                            </div>
    
                            <div class="fieldset__div--retriveUser">
    
                                <a href="">Olvide mis datos de Usuario</a>
    
                            </div>
    
                            <div class="fieldset__div--register">
    
                                <a class="linkRegister" href="">Registrarme</a>
    
                            </div>
    
                        </fieldset>
                            
                    </form>

                </section>

            </main>

        </body>

    </html>