<!DOCTYPE html>

    <html lang="en">

        <head>

            <meta charset="UTF-8">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="stylesheet" href="">

            <title>Registrarse || Código de Policía Ya!</title>

        </head>

        <body>

            <header>

                <button class="button--volver"><a href="/views/index.html">&#171;&nbsp;Volver</a></button>

            </header>   

            <main class="main--register">

                <section class="main__section--first">

                    <a href="login.html"><img src="/img/LogoNombre.png" alt="No se ha podido cargar la imágen"></a>

                </section>

                <section class="main_section--second">

                    <form class="section__form--register" action="">

                        <h1>Registrate:</h1>
    
                        <fieldset class="form__fieldset--userInfo">
    
                            <div>
    
                                <label for="nombreUsuario">Nombre de Usuario:<input type="text" name="nombreUsuario" id="nombreUsuario"></label>
    
                            </div>
    
                            <div>
    
                                <label for="correo">Correo Electrónico:<input type="email" name="correo" id="correo"></label>
    
                            </div>    
                            
                            <div>
    
                                <label for="contraseña">Contraseña:<input type="password" name="contraseña" id="contraseña"></label>
    
                            </div>
    
                            <div>
    
                                <label for="contraseñaConfirmar">Confirmar Contraseña:<input type="password" name="contraseñaConfirmar" id="contraseñaConfirmar"></label>
    
                            </div>   
                                            
                        </fieldset>
    
                        <button class="button--register">Registrarse</button>
    
                        <fieldset class="form__fieldset--privicyPolicy">
    
    
                            <div class="divCondicionesRegister">
    
                                <input type="checkbox" name="privacidad" id="privacidad">
                                <label for="privacidad"><a>Acepto las Políticas de Privacidad.</a></label>
    
                            </div>
    
                            <div class="divCondicionesRegister">
    
                                <input type="checkbox" name="actualizaciones" id="actualizaciones">
                                <label for="actualizaciones">Quiero recibir actualizaciones del Código de Policía en mi correo.</label>
    
                            </div>
    
                        </fieldset>
                            
                    </form>

                </section>                

            </main>

        </body>

    </html>
