<!DOCTYPE html>

    <html lang="en">

        <head>

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="stylesheet" href="../../styles/styles.css">
            <link rel="stylesheet" href="../../styles/styles--tramite.css">

            <title>Trámites || Código de Policía Ya!</title>

        </head>

        <body>
            
            <header>

                <section class="header__section--first">
                    
                    <div class="section__div--logo1"></div>

                    <a class="section__a--text" href="index.html">Código de Policía Ya!</a>

                </section>

                <nav>

                    <ul>

                        <li class="ul__li--start ul__li--white"><a href="/views/landingpage/index.html">Inicio</a></li>
                        <li class=""><a href="/views/codigo/index.html">Código</a></li>
                        <li class="ul__li--white"><a href="/views/tramites/tramite.html">Trámite</a></li>
                        <li class=""><a href="/views/noticias/index.html">Noticias</a></li>
                        <li class="ul__li--end ul__li--white"><a href="">FAQ</a></li>

                    </ul>

                </nav>

                <section class="header__section--second">

                    <div class="section__div--login">

                        <a href="">Iniciar Sesión</a>

                    </div>

                    <div class="section__div--register">

                        <a href="">Registrarme</a>

                    </div>                    

                </section>

            </header>

            <main class="main--noticias">

                <section class="main__section--first">

                    <div class="section__div--first"></div>

                    <div class="section__div--second">

                        <h2>Accede a las Trámites</h2>

                        <p>De manera rápida, precisa e intuitiva</p>

                    </div>

                    <div class="section__div--third"></div>

                </section>

                <section class="main__section--second"></section>

                <section class="main__section--third">

                    <div class="section__div--first">

                        <article class="div__article">

                            <div class="article_div--title">

                                <h2>Título Trámite</h2>

                            </div>

                            <div class="article_div--text">

                                <p>Adsakjdhskdjhsakjh sakjdhsajkdh asdhsakdh asdhsajkdh asdhsakjdh sadk hsadkj hsajkdh sajkdhsadh</p>

                            </div>

                        </article>

                        <article class="div__article">

                            <div class="article_div--title">

                                <h2>Título Trámite</h2>

                            </div>

                            <div class="article_div--text">

                                <p>Adsakjdhskdjhsakjh sakjdhsajkdh asdhsakdh asdhsajkdh asdhsakjdh sadk hsadkj hsajkdh sajkdhsadh</p>

                            </div>

                        </article>

                        <article class="div__article">

                            <div class="article_div--title">

                                <h2>Título Trámite</h2>

                            </div>

                            <div class="article_div--text">

                                <p>Adsakjdhskdjhsakjh sakjdhsajkdh asdhsakdh asdhsajkdh asdhsakjdh sadk hsadkj hsajkdh sajkdhsadh</p>

                            </div>

                        </article>

                        <article class="div__article">

                            <div class="article_div--title">

                                <h2>Título Trámite</h2>

                            </div>

                            <div class="article_div--text">

                                <p>Adsakjdhskdjhsakjh sakjdhsajkdh asdhsakdh asdhsajkdh asdhsakjdh sadk hsadkj hsajkdh</p>

                            </div>

                        </article>

                        <article class="div__article">

                            <div class="article_div--title">

                                <h2>Título Trámite</h2>

                            </div>

                            <div class="article_div--text">

                                <p>Adsakjdhskdjhsakjh sakjdhsajkdh asdhsakdh asdhsajkdh asdhsakjdh sadk hsadkj hsajkdh</p>

                            </div>

                        </article>
                        
                        <article class="div__article">

                            <div class="article_div--title">

                                <h2>Título Trámite</h2>

                            </div>

                            <div class="article_div--text">

                                <p>Adsakjdhskdjhsakjh sakjdhsajkdh asdhsakdh asdhsajkdh asdhsakjdh sadk hsadkj hsajkdh</p>

                            </div>

                        </article>

                    </div>

                    <div class="section__div--second">

                        <button class="div__button--anterior"><p><bold>&#8249;</bold> Anterior</p></button>
                        
                        <button class="div__button--siguiente"><p>Siguiente <bold>&#8250;</bold></p></button>

                    </div>

                </section>

            </main>

            <footer>

                <section class="footer__section--first">
                    
                    <div class="section__div--logo2"></div>

                    <div class="section__div--text">

                        <p>Código de Policía Ya!</p>
                        <p>Todos los Derechos Reservados</p>
    
                    </div>

                </section>

            </footer>
            
        </body>

    </html>